.setting-profile-left{
    padding: 16px;
    background-color: var(--liner-glass);
    border: 1px solid var(--liner-glass);
    border-radius: 4px;
    position: relative;
}
.setting-profile-fom{
    padding: 16px;
    background-color: var(--liner-glass);
    border: 1px solid var(--liner-glass);
    border-radius: 4px;
}

.setting-profile-fom-title{
    margin-bottom: 16px;
}
.setting-profile-fom-title h6{
    text-transform: uppercase;
    font-family: bold;
}

.setting-profile-fom-title-image{
    display: flex;
    align-items: center ;
    margin-bottom: 24px;
}
.note-choose{
    margin-left: 16px;
}
.note-choose a{
    color: var(--secondery-color);
    font-family: medium;
}
.note-choose p{
    color: var(--gray-color-2);
    font-weight: 100;
}
.profile-pic-div{
    height: 64px;
    width: 64px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

#photo{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;

}
#file{
    display: none;
}
#uploadBtn{
    position: absolute;
    bottom: 0;
    text-align: center;
    background: var(--liner-glass);
  backdrop-filter: blur(10px);
    color:var(--gray-color-2);
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
    display: none;
}

.setting-profile-fom-item{
    display: flex;
    flex-direction: column;
}
.setting-profile-fom-item + .setting-profile-fom-item{
    margin-top: 16px;
}
.setting-profile-fom-item p{
    margin-bottom: 4px;
    text-transform: capitalize;
}
.setting-profile-fom-item input{
    padding: 0 16px ;
    width: 100%;
    height: 40px;
    border-radius: 4px;
}
.setting-profile-fom-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting-profile-fom .btn-profile-setting{
    margin-top: 32px;
    padding: 8px 24px;
    font-size: 16px;
}
.setting-profile-fom-note{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 16px;
}
.setting-profile-fom-item select{
    width: 100%;
    background-color: var(--liner-glass);
    outline: none;
    border: none;
   height: 40px;
   color: var(--gray-color-2);
   padding: 0 10px;
   font-size: 16px;
}





.custom-select {
    position: relative;
  z-index: 1000;
  }
  
  .custom-select select {
    display: none; 
  }
  
  .select-selected {
    background-color: var(--liner-glass);
    height: 40px;
    display: flex;
    align-items: center;
    font-family: regular;
    color: var(--gray-color);
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 16px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--gray-color-2) transparent transparent transparent;

  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--gray-color-2) ;
    top: 10px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: var(--gray-color-2);
    padding: 16px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent var(--liner-glass) transparent;
    cursor: pointer;
    user-select: none;
    font-family: regular;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: var(--liner-glass);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
backdrop-filter: blur(100px);
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(255, 255, 255, 0.085);
  }

.fom-three p{
    color: var(--gray-color-2);
}
  .account-item{
      display: flex;
      align-items: center;
  }
  .account-item +   .account-item{
      margin-top: 8px;
  }
  .account-item i{
      font-size: 10px;
      margin-right: 16px;
  }
  .account-item a{
      color: var(--secondery-color);
  }